body.container {
    width: 100vw;
    height: 100vh;
    background-position: center;    
    justify-content: center;
    display: flex;
    background-image: linear-gradient(#134d71 33px, #78a7c6, #f7e4bf)
 }
  
 header.page-header {
    height: 60px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
 }

div {
    justify-content: center;
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    width: 400px;
    height: auto;
}
  
div.selection-form {
    contain: content;
    margin: auto;
    height: auto;
    justify-content: space-evenly;
    text-align: center;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
 }

 button.submit {
    text-align: center;
    color: #ffffff;
    background: #134d71;
 }

 div.svg {
    width: 600px;
    height: auto;
    text-align: center;
    color: #000000;
 }
 #yoga-icon {
    width: 9%;
 }

 .hidden {
    display: none
 }
  
 .manifested-saves {
    margin: auto;
 }
  
 /* font-family: 'Quicksand', sans-serif;
 COLORS
 light-yellow - #f7e4bf;
 light-blue - #78a7c6;
 dark-blue - #134d71;
 white - #ffffff;
 black - #000000;
 */
 